
body {
  background-image: url("fotos/bodyBG.jpg");
  /*background-color: #cccccc;*/

  font-family: 'Patrick Hand', Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

/*h1 {font-family: 'cookie'}*/
h2 {font-family: 'cookie'}
h3 {font-family: 'cookie'}




.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.receta {
  grid-column: span 2;
  background: rgb(100, 119, 230);
}

.diente {
  color:rgb(255, 0, 179)
}
  /* the case with 4 elements */
  /*
  .element:first-child:nth-last-child(4),
  .element:first-child:nth-last-child(4) ~ *{
    grid-column: span 3;
  }
  */
  
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border:2px solid;
}

.scrollbar{
  margin: 20px;
  border: 5px solid;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
