
body {
  background-image: url("fotos/bodyBG.jpg");

  font-family: 'Patrick Hand', Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h1 {
  text-align: center;
}

.tituloPpal {
  font-size: 42px;
  text-align: left;
}


h2 {font-family: 'cookie'}
h3 {font-family: 'cookie'}


.inputBg {
  background-image: url("fotos/inputBG.jpg");
  /*background-color: #cccccc;*/
 } 


.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  border: 1px solid;
  padding: 10px;
  margin-left: 50PX;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.receta {
  grid-column: span 2;
  background: rgb(100, 119, 230);
}

.diente {
  color:rgb(255, 0, 179)
}

/* the case with 4 elements */
/*
.receta:first-child:nth-last-child(4),
.receta:first-child:nth-last-child(4) ~ *{
  grid-column: span 3;
*/

.item-a {
  grid-area: header;
}
.item-d {
  grid-area: footer;
}

#ingredientBox{
  border-style: solid;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: peru;
  display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr minmax(1fr, 3fr);
    grid-auto-flow: row;
    grid-template-areas: 
      "header header"
      "footer footer";
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;  
}

.scrollbarList{
  margin: 20px;
  border: 5px solid;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 650px;
  border-color: peru;
}

.scrollbar{
  margin: 20px;
  border: 5px solid;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.image{
  width: 100%;
  height: 250px;
  display: block;
}

.transparent {
  background-color: transparent;
}